<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <title>Log In</title>
 </head>


<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-md-offset-3">
        <div class="wrapper">
            <h1 class="text-center login-title">Sign in </h1>
            <div class="account-wall">
                <form class="form-signin" method="post" action="<?php echo site_url('privilige/signin');?>">
                    <select name="usertype" class="form-control">
                        <option value="">Select a user type</option>
                        <option value="customer">Customer</option>
                        <option value="seller">Seller</option>
                        <option value="admin">Admin</option>
                    </select>
                    <input type="text" class="form-control" placeholder="Email" name="email" id="email" required autofocus>
                    <input type="password" class="form-control" placeholder="Password" name="password" id="password" required>


                        <input type="text" class="form-control" name="captcha" id="captcha" placeholder="Enter the code bellow" required>
                      
                     <div class="checkbox pull-left">
                      <label>
                        <input type="checkbox" value="remember-me"> Remember me
                      </label>
                    </div>
                        
                    <img  src="<?php echo site_url('privilige/code')?>" alt="CAPTCHA" border="0" onclick= this.src="<?php echo site_url('privilige/code').'/'?>"+Math.random() style="cursor: pointer;" class="pull-right img-thumbnail"/>
                     

                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        Sign in</button>
         
                </form>
            </div>
            <a href="#" class="pull-left text-center new-account">Create an account </a>
            <a href="#" class="pull-right need-help">Need help? </a>
        </div>
    </div>
    </div>
</div>
