
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/main.css")?>">
    <script src="<?=base_url("src/js/jquery.min.js")?>"></script>
    <script src="<?=base_url("src/js/bootstrap.min.js")?>"></script>
    <title>Gataor Bay Eshop</title>
 </head> 



<div class="container">
    <div class="row">
        <form role="form" method="post" action="<?php echo site_url('privilige/insert');?>">
            <div class="col-md-6 col-md-push-3">
                <select name="usertype" class="form-control">
                        <option value="">Select a user type</option>
                        <option value="customer">Customer</option>
                        <option value="seller">Seller</option>
                </select>
                <div class="form-group">
                    <label for="email">Enter Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <label for="password">Enter Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
                </div>
                <div class="form-group">
                    <label for="cmpassword">Confirm Password</label>
                    <input type="password" class="form-control" id="cmpassword" name="cmpassword" data-match="#password" data-match-error="Whoops, these don't match" placeholder="Confirm Password" required>

                </div>
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
            </div>
        </form>

    </div>
</div>