<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <title>Admin Dashbord</title>
 </head>

<div class="row">
	<div class="col-md-9">
		<div class="media">
		  <div class="media-left">
		      <img class="media-object" src="<?=base_url("src/images/brand-icon.png")?>" width="64px" length="64px">
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">Brand Management</h3>
		    Manage your brands of commodities here
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<a type="button" class="btn btn-primary pull-right" href="<?=site_url("admin/brand/add")?>">
			Add New Brand
		</a>
	</div>
</div>

<div class = "container">
	<table class="table">
		<caption>All Brands</caption>
		<thead>
			<tr>
				<th>Brand Logo</th>
				<th>Brand Name</th>
				<th>Brand URL</th>
				<th>Navigation</th>
				<th>Sort</th>
				<th>Operation</th>
			</tr>
		</thead>
		<tbody>
			<?php foreach($brands as $brand) :?>
				<tr>
					<td>
						<img src="<?php echo base_url("src/uploads/".$brand['logo']);?>" width="25px" length="250px">
						</img>
					</td>
					<td><?php echo $brand['brand_name']?></td>
					<td><a href ="<?php echo $brand['url']?>"><?php echo $brand['url']?></a></td>					
					<td>
						<img src="<?php echo base_url("src/images/message_").$brand['is_show'].".png";?>" width="20px" height="20px">
						</img>
					</td>
					<td><?php echo $brand['sort_order']?></td>
					<td>
						<a href="<?php echo site_url("admin/brand/delete/".$brand['brand_id'])?>">Remove</a> |
						<a href="<?php echo site_url("admin/brand/edit/".$brand['brand_id'])?>">Edit</a> 
					</td>
				</tr>
			<?php endforeach;?>
		</tbody>
	</table>
</div>