<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <title>Admin Dashbord</title>
 </head>
 <div class="row">
	<div class="col-md-9">
		<div class="media">
		  <div class="media-left">
		      <img class="media-object" src="<?=base_url("src/images/category-icon.png")?>" width="64px" length="64px">
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">Category Management</h3>
		    Add a new category here
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<a type="button" class="btn btn-primary pull-right" href="<?=site_url("admin/category/index")?>">
			Back to Category List
		</a>
	</div>
</div>

<div class="container">
	<form action="<?php echo site_url('admin/category/insert')?>" method="post">
		<div class="form-group">
			<label for="cat_name">Category Name:</label>
			<input type="text" class="form-control" name="cat_name" id="cat_name" placeholder="Enter category name">
		</div>
		<div class="form-group">
			<label for="parent_id">Up Level Category:</label>
			<select class="form-control" name="parent_id" id="parent_id">
				<option value="0">Top Category</option>
				<?php foreach($cates as $cate) :?>

				<option value= "<?php echo $cate['cat_id'] ;?>">
					<?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$cate['level']).$cate['cat_name']?>
				</option>

				<?php endforeach?>  
			</select>
		</div>
		<div class="form-group">
			<label for="unit">Measure Unit:</label>
			<input type="text" class="form-control" name="unit" id="unit" placeholder="Enter measure unit">
		</div>
		<div class="form-group">
			<label for="unit">Sort Order:</label>
			<input type="text" class="form-control" name="sort_order" id="sort_order" placeholder="Enter sort order">
		</div>
		<div class="form-group">
			<label class="radio-inline">
				<input type="radio" name="is_show" id="is_show" value="1" checked="true"> Yes
			</label>
			<label class="radio-inline">
				<input type="radio" name="is_show" id="is_show" value="0">  No
			</label>
		</div>
		<div class="form-group">
			<label for="cat_desc">Description:</label>
			<textarea class="form-control" name="cat_desc" id="cat_desc"  rows="4" placeholder="Enter the description of this category">
			</textarea>
		</div>

		
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</form>
</div>