<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SHOP Dashboard - Add Category </title>
<meta name="robots" content="noindex, nofollow">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo base_url('src/styles/general.css');?>" rel="stylesheet" type="text/css" />
<link href="<?php echo base_url('src/styles/main.css');?>" rel="stylesheet" type="text/css" />
</head>
<body>

<h1>
<span class="action-span"><a href="<?php echo site_url("admin/category/index")?>">Commodity Category</a></span>
<span class="action-span1"><a href="index.php?act=main">SHOP Dashboard</a> </span><span id="search_id" class="action-span1"> - Add Category </span>
<div style="clear:both"></div>
</h1>
<!-- start add new category form -->
<div class="main-div">
  <form action="<?php echo site_url('admin/category/insert')?>" method="post" name="theForm" enctype="multipart/form-data" onsubmit="return validate()">
	 <table width="100%" id="general-table">
		<tbody>
			<tr>
				<td class="label">Category Name:</td>
				<td><input type="text" name="cat_name" maxlength="20" value="" size="27"> <font color="red">*</font></td>
			</tr>
			<tr>
				<td class="label">Up Level Category:</td>
				<td>
					<select name="parent_id">
						<option value="0">Top Category</option>
						<?php foreach($cates as $cate) :?>

							<option value= "<?php echo $cate['cat_id'] ;?>"><?php echo str_repeat('&nbsp;&nbsp;&nbsp;&nbsp;',$cate['level']).$cate['cat_name']?></option>

						<?php endforeach?>         
					</select>
				</td>
			</tr>

			<tr id="measure_unit">
				<td class="label">Measure Unit:</td>
				<td><input type="text" name="unit" value="" size="12"></td>
			</tr>
			<tr>
				<td class="label">Sort Order:</td>
				<td><input type="text" name="sort_order" value="50" size="15"></td>
			</tr>

			<tr>
				<td class="label">Display or Not:</td>
				<td><input type="radio" name="is_show" value="1" checked="true"> Yes <input type="radio" name="is_show" value="0"> No  </td>
			</tr>
			<tr>
				<td class="label">Display in Navigation:</td>
				<td><input type="radio" name="show_in_nav" value="1"> Yes  <input type="radio" name="show_in_nav" value="0" checked="true"> No  </td>
			</tr>
			<tr>
				<td class="label">Recommend in Home:</td>
				<td>
					<input type="checkbox" name="cat_recommend[]" value="1"> 精品          
					<input type="checkbox" name="cat_recommend[]" value="2"> 最新          
					<input type="checkbox" name="cat_recommend[]" value="3"> 热门       
				</td>
			</tr>
      <tr>
        <td class="label">Category Discribe:</td>
        <td>
          <textarea name="cat_desc" rows="6" cols="48"></textarea>
        </td>
      </tr>
      </tbody></table>
      <div class="button-div">
        <input type="submit" value=" submit ">
        <input type="reset" value=" reset ">
      </div>
    <input type="hidden" name="act" value="insert">
    <input type="hidden" name="old_cat_name" value="">
  </form>
</div>



<div id="footer">
	Copyrights &copy; 2015 Chunyang Shen
</div>

</div>

</body>
</html>