<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <title>Admin Dashbord</title>
 </head>

<div class="row">
	<div class="col-md-9">
		<div class="media">
		  <div class="media-left">
		      <img class="media-object" src="<?=base_url("src/images/type-icon.png")?>" width="64px" length="64px">
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">Types Management</h3>
		    Add a new type of commodities here
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<a type="button" class="btn btn-primary pull-right" href="<?=site_url("admin/goodstype/index")?>">
			Back to Goodstype
		</a>
	</div>
</div>

<div class="container">
	<form action="<?php echo site_url('admin/goodstype/insert')?>" method="post" enctype="multipart/form-data">
		<div class="form-group">
			<label for="brand_name">New Type Name:</label>
			<input type="text" class="form-control" name="type_name" id="type_name" placeholder="Enter type name">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
		<button type="reset" class="btn btn-danger">Reset</button>
	</form>
</div>
