<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <title>Admin Dashbord</title>
 </head>   

	
    	
   <div class="myheading">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                
                </a>
            </div>
             <div id="navbar" class="navbar-collapse collapse">
             	<ul class="nav navbar-nav">
                	<li><a href="<?php echo site_url('home')?>">Back to Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <div class="btn-group navbar-btn navbar-right">
                <?php $user=$this->session->userdata('email')?>
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    					<?=$user?> <span class="caret"></span>
  					</button>
					         <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="<?php echo site_url('privilige/login')?>">Sign out</a></li>
                     </ul>
                  </div>
                <form class="navbar-form navbar-right">
            		<input type="text" class="form-control" placeholder="Search...">
          		</form>
             </div>
          </div>
    	</nav>
    </div>
    
	<div class="container-fluid">
  		<div class="row">
        	<div class="col-md-2">
            <div class = "sidebar">
            	<ul class="nav">
                	<li class="active"><a href="#category" data-toggle="tab">Category Management</a></li>
              		<li><a href="#brand" data-toggle="tab">Brand Management</a></li>
                  <li><a href="#type" data-toggle="tab">Type Management</a></li>
              		<li><a href="#attribute" data-toggle="tab">Attribute Management</a></li>
                  <li><a href="#customer" data-toggle="tab">Customer Management</a></li>
              		<li><a href="#seller" data-toggle="tab">Seller Management</a></li>
                  <li><a href="#commodity" data-toggle="tab">Commodity Management</a></li>
                  <li><a href="#order" data-toggle="tab">Order Management</a></li>
          		</ul>
            </div>
          </div>
            <div class="col-md-10">
              <div class="tab-content">
                  <div class="tab-pane active" id="category">
                    <iframe frameborder="0" src="<?=site_url("admin/category")?>" width="100%" height="650px">
                    </iframe>
                  </div>
                  <div class="tab-pane" id="brand">
                    <iframe frameborder="0" src="<?=site_url("admin/brand")?>" width="100%" height="650px"></iframe>
                  </div>
                  <div class="tab-pane" id="type">
                    <iframe frameborder="0" src="<?=site_url("admin/goodstype")?>" width="100%" height="650px"></iframe>
                  </div>
                  <div class="tab-pane" id="attribute">
                    <iframe frameborder="0" src="<?=site_url("admin/attribute")?>" width="100%" height="650px"></iframe>
                  </div>
                  <div class="tab-pane" id="customer">
                    <iframe frameborder="0" src="<?=site_url("admin/administrate/list_customer")?>" width="100%" height="650px"></iframe>
                  </div>
                  <div class="tab-pane" id="seller">
                    <iframe frameborder="0" src="<?=site_url("admin/administrate/list_seller")?>" width="100%" height="650px"></iframe>
                  </div>
                  <div class="tab-pane" id="commodity">
                    <iframe frameborder="0" src="<?=site_url("admin/administrate/list_commodity")?>" width="100%" height="650px"></iframe>
                  </div>
                  <div class="tab-pane" id="order">7</div>
              </div>
            </div>

        </div>
	</div>
    <script src="<?=base_url("src/js/jquery.min.js")?>"></script>
    <script src="<?=base_url("src/js/bootstrap.min.js")?>"></script>
</html>