<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<?php echo base_url('src/styles/general.css');?>" rel="stylesheet" type="text/css" /> 
<link href="<?php echo base_url('src/styles/main.css');?>" rel="stylesheet" type="text/css" /> 
<style type="text/css">
body {
  color: white;
}
</style>

</head>
<body style="background: #278296">
<form method="post" action="<?php echo site_url('privilige/signin');?>" name='theForm'>
  <table cellspacing="0" cellpadding="0" style="margin-top: 100px" align="center">
  <tr>
    <td><img src="<?php echo base_url('src/images/GatorBay.png');?>" width="600" height="400" border="0" alt="ECSHOP" /></td>
    <td style="padding-left: 50px">
      <table>
      <tr>
        <td>User Type：</td>
        <td><select name="usertype">
              <option value="customer">Customer</option>
              <option value="seller">Seller</option>
              <option value="admin">Admin</option>
            </select>
        </td>
      </tr>
      <tr>
        <td>Email：</td>
        <td><input type="text" name="email" /></td>
      </tr>
      <tr>
        <td>Password：</td>
        <td><input type="password" name="password" /></td>
      </tr>
      
      <tr>
        <td>Verification Code：</td>
        <td><input type="text" name="captcha" /></td>
      </tr>
      <tr>
        <td colspan="2" align="right">
          <img src="<?php echo site_url('privilige/code')?>" width="145" height="20" alt="CAPTCHA" border="1" onclick= this.src="<?php echo site_url('privilige/code').'/'?>"+Math.random() style="cursor: pointer;"/>
        </td>
      </tr>
      
      <tr><td colspan="2"><input type="checkbox" value="1" name="remember" id="remember" /><label for="remember">Please keep my log information</label></td></tr>
      <tr><td>&nbsp;</td><td><input type="submit" value="LOGIN" class="button" /></td></tr>
      <tr>
        <td colspan="2" align="right">&raquo; <a href="../" style="color:white">Back to Home</a> &raquo; <a href="get_password.php?act=forget_pwd" style="color:white">Forget Password?</a></td>
      </tr>
      </table>
    </td>
  </tr>
  </table>
  <input type="hidden" name="act" value="signin" />
</form>

</body>