<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <title>Admin Dashbord</title>
    
</head>
	
    	
   <div class="myheading">
    <nav class="navbar navbar-inverse navbar-fixed-top">
    	<div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"> GatorBay </a>
            </div>
             <div id="navbar" class="navbar-collapse collapse">
             	<ul class="nav navbar-nav">
                	<li><a href="#">Back to Home</a></li>
                    <li><a href="#">About</a></li>
                </ul>
                <div class="btn-group navbar-btn navbar-right">
  					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    					scy0208 <span class="caret"></span>
  					</button>
					<ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                     </ul>
                  </div>
                <form class="navbar-form navbar-right">
            		<input type="text" class="form-control" placeholder="Search...">
          		</form>
             </div>
          </div>
    	</nav>
    </div>

    <script src="<?=base_url("src/js/jquery.min.js")?>"></script>
    <script src="<?=base_url("src/js/bootstrap.min.js")?>"></script>
    


</head>

</html>