      .jumbotron
      {
         
         color: white ;
         background-attachment: fixed;
         background-repeat:no-repeat;
         
         background: rgba(0, 0, 0, 0.3);
         background-position: 50%,50%;
         min-height: 700px;
         margin-bottom: 0px;
         margin-top:-50px;
         /*注释部分*/
      }
      .bg
      {
        background: rgba(0, 0, 0, 0.3);
        background-attachment: fixed;
        background-repeat:no-repeat;
        background-image: url('../images/UF.jpg');
      }
    
      .wrapper
      {
         background:rgba(255, 255, 255, 1);
         color: black;
      }
      ul.nav-tabs-scroll{
        width: 240px;
        margin-top: 20px;
        border-radius: 4px;
        border: 1px solid #ddd;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    }
    ul.nav-tabs-scroll li{
        margin: 0;
        border-top: 1px solid #ddd;
    }
    ul.nav-tabs-scroll li:first-child{
        border-top: none;
    }
    ul.nav-tabs-scroll li a{
        margin: 0;
        padding: 8px 16px;
        border-radius: 0;
    }
    ul.nav-tabs-scroll li.active a, ul.nav-tabs li.active a:hover{
        color: #fff;
        background: #0088cc;
        border: 1px solid #0088cc;
    }
    ul.nav-tabs-scroll li:first-child a{
        border-radius: 4px 4px 0 0;
    }
    ul.nav-tabs-scroll li:last-child a{
        border-radius: 0 0 4px 4px;
    }
    ul.nav-tabs-scroll.affix{
        top: 30px; /* Set the top position of pinned element */
    }
    .container-mainpage{
      margin-left: 5%;
      margin-right: 5%;
    }