<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="<?=base_url("src/styles/bootstrap.min.css")?>">
    <link rel="stylesheet" href="<?=base_url("src/styles/dashboard.css")?>">
    <script src="<?=base_url("src/js/jquery.min.js")?>"></script>
    <script src="<?=base_url("src/js/bootstrap.min.js")?>"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
    <title>Seller Dashbord</title>
 </head>

<div class="row">
	<div class="col-md-9">
		<div class="media">
		  <div class="media-left">
		      <img class="media-object" src="<?=base_url("src/images/listcomm-icon.png")?>" width="64px" length="64px">
		  </div>
		  <div class="media-body">
		    <h3 class="media-heading">Income Analysis</h3>
		    Analysis your income here
		  </div>
		</div>
	</div>
	<div class="col-md-2">
		<a type="button" class="btn btn-primary pull-right" href="">
			Add New Commodity
		</a>
	</div>
</div>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


<script>
var chart1; // 全局变量
$(document).ready(function() {
      chart1 = new Highcharts.Chart({
         chart: {
            renderTo: 'container',
            type: 'bar'
         },
         title: {
            text: 'Fruit Consumption'
         },
         xAxis: {
            categories: ['Apples', 'Bananas', 'Oranges']
         },
         yAxis: {
            title: {
               text: 'Fruit eaten'
            }
         },
         series: [{
            name: 'Jane',
            data: [1, 0, 4]
         }, {
            name: 'John',
            data: [5, 7, 3]
         }]
      });
   });
</script>


